@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}

table {
  text-align: center;
  width: 100%;
}

tr th {
  width: calc(100%/6);
}

th {
  background-color: rgba(0, 0, 0, 0.1);
}

.button {
  user-select: none;
  cursor: pointer;
  background-color: lightgray;
  width: 128px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-bottom: 16px;
  padding: 4px;
}

h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

td {
  padding: 16px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.05);
}
